<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">      
    <link rel="stylesheet" href="../static/css/styleHome.css">
    <title>Utkrishta Foto</title>
</head>
<body>
    <header class="nav-bar">
            <div id="section-logo">
                <a href="./index.html"><img src="" alt="Utkrishta Foto" id="logo"></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="./index.html" class="nav-list">
                            <img src="../images/icons/home.png" alt="Home" title="Home" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-list">
                            <img src="../images/icons/services.png" alt="Services" title="Services" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/utkrishtafoto" target="_blank" class="nav-list">
                            <img src="../images/icons/facebook.png" alt="Facebook" title="Facebook" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/utkrishtafoto" target="_blank" class="nav-list">
                            <img src="../images/icons/instagram.png" alt="Instagram" title="Instagram" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCqj61ce8bizhIZuEnvxc5Bg", target="_blank" class="nav-list">
                            <img src="../images/icons/youtube.png" alt="Youtube" title="Youtube" class="nav-icon">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-list">
                            <img src="../images/icons/contact.png" alt="Contacts" title="Contact Details" class="nav-icon">
                        </a>
                    </li>
                </ul>
            </nav>            
    </header>
    <div id="display-image">
        <img src="../images/display2.jpg" alt="Display image" id="front-image">
    </div>

    <article>
        <h3 id="intro-title"><span id="title">Utkrishta Foto</span></h3>
        <div class="intro-block">
            <p id="intro-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Nullam eget felis eget nunc lobortis mattis aliquam faucibus 
                purus. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Dictum at tempor commodo 
                ullamcorper a lacus vestibulum. Vel quam elementum pulvinar etiam non quam. Mi in nulla 
                posuere sollicitudin aliquam ultrices sagittis orci. Dui ut ornare lectus sit. Quis 
                eleifend quam adipiscing vitae proin sagittis. Sed ullamcorper morbi tincidunt ornare massa 
                eget egestas. Augue eget arcu dictum varius. Odio tempor orci dapibus ultrices in iaculis nunc.

            </p>
            <div class="intro-block-right">
                <div class="intro-right-top">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/utkrishtafoto" target="_blank" class="nav-list">
                                <img src="../images/icons/facebook.png" alt="Facebook" title="Facebook" class="nav-icon">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/utkrishtafoto" target="_blank" class="nav-list">
                                <img src="../images/icons/instagram.png" alt="Instagram" title="Instagram" class="nav-icon">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCqj61ce8bizhIZuEnvxc5Bg", target="_blank" class="nav-list">
                                <img src="../images/icons/youtube.png" alt="Youtube" title="Youtube" class="nav-icon">
                            </a>
                        </li>
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
                            <img src="../images/icons/email.png" alt="email" class="nav-icon" title="utkrishtafoto@gmail.com">
                        </a>
                    </ul>
                </div>
                
                <div class="intro-right-bottom">
                    <div>
                        <img src="../images/icons/mobile.png" alt="mbl">
                        <div>1234567890</div>
                    </div>
                    <div>
                        <img src="../images/icons/address.png" alt="address"> 
                        <div>Chabahil, KTM</div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <div class="event-list">
        <h3 id="service">Services</h3>
        <ul class="service-list">
            <li>
                <img src="#" alt="Wedding">
                <a href="#">Wedding</a>
            </li>
            <li>
                <img src="#" alt="Seminar">
                <a href="#">Seminar</a>
            </li>
            <li>
                <img src="#" alt="Kids Events">
                <a href="#">Kids Events</a>
            </li>
            <li>
                <img src="#" alt="ID Cards">
                <a href="#">ID Card</a>
            </li>
        </ul>
    </div>

    <hr>

    <!-- Anchor tag for event booking -->
    <a href="#">Book an Event</a>

    <footer>
        <div class="footer-left">
            <img src="#" alt="logo">
            <p>copyrigt</p>
        </div>
        <div class="footer-mid">
            <ul>
                <li>
                    <a href="https://www.facebook.com/utkrishtafoto" target="_blank" class="nav-list">
                        <img src="../images/icons/facebook.png" alt="Facebook" title="Facebook" class="nav-icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/utkrishtafoto" target="_blank" class="nav-list">
                        <img src="../images/icons/instagram.png" alt="Instagram" title="Instagram" class="nav-icon">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCqj61ce8bizhIZuEnvxc5Bg", target="_blank" class="nav-list">
                        <img src="../images/icons/youtube.png" alt="Youtube" title="Youtube" class="nav-icon">
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-right">
            <div>
                <img src="../images/icons/email.png" alt="email" title="Email">
                <div>utkrishtafoto@gmail.com</div>
            </div>
        
            <div>
                <img src="../images/icons/mobile.png" alt="mbl" title="Contact">
                <div>1234567890</div>
            </div>
            
            <div>
                <img src="../images/icons/address.png" alt="location" title="Location"> 
                <div>Chabahil, KTM</div>
            </div>
    
        </div>
    </footer>
    
</body>
</html>